*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	background-color: #334;
	font-family: "Poppins", sans-serif;
	color: #5a5252;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100vh;
	height: 100vh;
	.card {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		height: 20%;
		background-color: #615b5b;
		margin: 5px 10px;
		p {
			color: #fff;
			font-size: 5rem;
		}
		.card-back {
			position: absolute;
			display: none;
			justify-content: center;
			align-items: center;
			transform: rotateX(180deg);
			p {
				font-size: 2rem;
				color: #fff;
			}
		}
	}
}
.card:hover {
	.question-mark{
		display: none;
	}
	.card-back {
		display: flex;
		transform: rotateX(0deg);
	}
}
